.link-export {
	background-color: #1d71b8;
	color: white;
	padding: 8px 18px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border-radius: 8%;
}

.button-show {
	display: block;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	color: #fff;
	background-color: #1d71b8;
	border-color: #1d71b8;
	border: #1d71b8;
}

.button-delete {
	display: block;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	color: #fff;
	background-color: #1d71b8;
	border-color: #1d71b8;
	border: #1d71b8;
}

.button-update {
	display: block;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	color: #fff;
	background-color: #1d71b8;
	border-color: #1d71b8;
	border: #1d71b8;
}



.button-import {
	display: block;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	color: #fff;
	background-color: #1d71b8;
	border-color: #1d71b8;
	border: #1d71b8;
}

.icon-cloud-download {
	color: white;
}

.icon-trash {
	color: white;
}


.button-upload {
	display: block;
	height: 30px;
	width: 80px;
	border-radius: 5%;
	color: #fff;
	background-color: #1d71b8;
	border-color: #1d71b8;
	border: #1d71b8;
}

.button-annulla {
	display: block;
	height: 30px;
	width: 80px;
	border-radius: 5%;
	color: #fff;
	background-color: white;
	border-color: white;
	border: white;
}

.button-export {
	display: block;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	color: #fff;
	background-color: #1d71b8;
	border-color: #1d71b8;
	border: #1d71b8;
}

.button-exp {
	display: block;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	color: #fff;
	background-color: #1d71b8;
	border-color: #1d71b8;
	border: #1d71b8;
}

.button-export1 {
	display: block;
	height: 30px;
	width: 80px;
	border-radius: 5%;
	color: #fff;
	background-color: #1d71b8;
	border-color: #1d71b8;
	border: #1d71b8;
	left: 50%;
    margin-left: +450px;
}

[name = "export"]{
	display: block;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	color: #fff;
	background-color: #1d71b8;
	border-color: #1d71b8;
	border: #1d71b8;
	padding: 8px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}



table#t01 {
    width: 100%;    
    background-color: #f1f1c1;
}